body{
    margin: 0px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.popup input[type=text],input[type=file] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.popup{
  display: none;
  position: absolute;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 3px solid #f1f1f1;
  z-index: 10;
}

.closePopup{
    right: 15px;
    color: RED;
    position: absolute;
    font-size: 14pt;
}

.closeHelp{
    right: 20px;
    color: RED;
    position: absolute;
    font-size: 18pt;
}

.popupHeadline{
    text-align: center;
}

a:hover{
    cursor: pointer;
}

.linedwrap{
    padding: 0px;
}